if shows.length
  ul.episode-list
    - var last_show = null
    for show in shows
      if JSON.stringify(last_show) !== JSON.stringify(show) 
        - last_show = show
        - var torrents = JSON.stringify(show.torrents)
        if show.season && show.episode.number
          li(data-torrents="#{torrents}", data-magnet="#{show.link}") 
            strong #{show.title}
            em.
                Season #{show.season}
                - Episode #{show.episode.number}
            if show.episode.title
              | "#{show.episode.title}"
else
  p.sorry.
    Sorry, there aren't any new shows available today. <br />
