.movie-detail(data-id="#{yify.MovieID}", data-torrent="#{yify.TorrentUrl}", style="background-image:url('#{moviedb.backdrop_path}')")
  .movie-info
    h2 
      span.movie-title #{moviedb.title}
      span.mpaa #{yify.AgeRating}
    .screens
      img(src="#{moviedb.poster_path}")
      //- img(src="#{MediumScreenshot2}")
      //- img(src="#{MediumScreenshot3}")
    ul
      li
        strong Directed by: 
        - var directors = yify.DirectorList.map(function(d) { return d.DirectorName }).join(", ")
        span #{directors}
      li
        strong Starring: 
        -var stars = yify.CastList.map(function(d) { return d.ActorName }).join(", ")
        span #{stars}
    p.movie-plot !{moviedb.overview}
    div.movie-help.
      Press <strong>select</strong> to play. Press <strong>back</strong> to dismiss.
.loader
