.movie-detail(data-id="#{MovieID}", data-torrent="#{TorrentUrl}")
  .movie-info
    h2 
      | #{MovieTitleClean}
      span.mpaa #{AgeRating}
    .screens
      img(src="#{MediumScreenshot1}")
      //- img(src="#{MediumScreenshot2}")
      //- img(src="#{MediumScreenshot3}")
    ul
      li
        strong Directed by: 
        - var directors = DirectorList.map(function(d) { return d.DirectorName }).join(", ")
        span #{directors}
      li
        strong Starring: 
        -var stars = CastList.map(function(d) { return d.ActorName }).join(", ")
        span #{stars}
    p.movie-plot !{ShortDescription}
    div.movie-help.
      Press <strong>select</strong> to play. Press <strong>back</strong> to dismiss.
.loader
